.racer_table td {
  background-color: black;
  height: 20px;
  width: 20px;
  color: red;
  border: none;
  padding: 0px;
  margin: 0px;
}

.racer_table td.active {

}

body {
  background-color: black;
}
