<div class="container">
  <form action="/create_game" method="post">
    Player 1's Name:<input type="text" name="player_1_name" placeholder="Jay" required>
    Player 2's Name:<input type="text" name="player_2_name" placeholder="'Ye" required>
    <input type="submit" value="Begin">
  </form>
</div>
