  <header>RACE TO THE THRONE</header>
  <iframe width="0" height="0" src="//www.youtube.com/embed/NJ4qVeLMybo?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <div id='jay'>
    <div class='text'>
      <h2>If you're havin code problems</h2>
      <h2>I feel bad for you son</h2>
      <h2>I got 99 problems, but</h2>
      <h1>JAY-S AIN'T ONE</h1>
    </div>
  </div>
  
  <div id='ye'>
    <div class='text'>
      <h2>Imma let you finish, but</h2>
      <h1>Oh, wait...</h1>
    </div>
  </div>
  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"><img src="http://www.highsnobiety.com/files/2012/10/Jay-Z-Albums-from-Worst-to-Best-14.png" height="200" width="200"</td>
    </tr>
    <tr></tr>
    <tr>`</tr>
    <tr></tr>
    <tr></tr>
    <tr id="player2_strip">
      <td class="active"><img src='http://riddim-donmagazine.com/wp-content/uploads/2013/05/kanye_west1.jpg' height='200' width='200'></td>
    </tr>
  </table>

  <%= @results_url %>

<div  id='url'><%= @results_url %></div>
<!-- 
<img src="futurama_ship.gif" height="100" width="100">

<img src="mario.gif" height="100" width="100"> -->
    
