  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"><img src="futurama_ship.gif" height="200" width="200"</td>
    </tr>
    <tr></tr>
    <tr>`</tr>
    <tr></tr>
    <tr></tr>
    <tr id="player2_strip">
      <td class="active"><img src="futurama_ship.gif" height="200" width="200"></td>
    </tr>
  </table>

<!-- 
<img src="futurama_ship.gif" height="100" width="100">

<img src="mario.gif" height="100" width="100"> -->
    
