  <div class='victory' id='jay'>
    <div class='text'>
      <h2>If you're havin code problems</h2>
      <h2>I feel bad for you son</h2>
      <h2>I got 99 problems, but</h2>
      <h1>JAY-S AIN'T ONE</h1>
    </div>
  </div>

  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"><img src="futurama_ship.gif" height="200" width="200"</td>
    </tr>
    <tr></tr>
    <tr>`</tr>
    <tr></tr>
    <tr></tr>
    <tr id="player2_strip">
      <td class="active"><img src="futurama_ship.gif" height="200" width="200"></td>
    </tr>
  </table>

  <%= @results_url %>

<div  id='url'><%= @results_url %></div>
<!-- 
<img src="futurama_ship.gif" height="100" width="100">

<img src="mario.gif" height="100" width="100"> -->
    
